/*  Reset CSS  */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  margin: 0;
  padding: 0; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font: 12px/1.6 arial; }

a {
  outline: 0;
  text-decoration: none;
  color: #fff; }

ol, ul {
  list-style: none; }

img {
  border: 0; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
img,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

body {
  width: 100%;
  height: 800vh;
  background-color: #fff; }

#logo {
  position: fixed;
  top: 5%;
  left: 10%;
  height: 30px; }
  #logo h1 {
    font-size: 25px;
    font-weight: bold;
    color: #000; }

#main-menu {
  position: fixed;
  top: 5%;
  right: 10%;
  height: 30px; }
  #main-menu li {
    float: left;
    margin-left: 35px; }
    #main-menu li a {
      display: block;
      font-size: 15px;
      color: #000;
      padding-top: 5px;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; }
      #main-menu li a:hover {
        transform: scale(1.1);
        color: #000; }

#scroll-down {
  position: fixed;
  bottom: 5%;
  left: 10%;
  font-size: 15px;
  padding-bottom: 5px;
  transform: rotate(90deg);
  margin-bottom: 37px;
  margin-left: -37px;
  color: rgba(0, 0, 0, 0.3); }

#hire-me {
  position: fixed;
  bottom: 5%;
  right: 10%;
  font-size: 15px;
  padding-bottom: 5px; }

#bg-txt-detail-container {
  position: fixed;
  width: 200px;
  top: 60%;
  left: 30%; }
  #bg-txt-detail-container .bg-txt-detail {
    font-size: 30px;
    text-align: left;
    color: rgba(0, 0, 0, 0.1);
    line-height: 30px;
    font-family: 'Stardos Stencil', cursive; }
    #bg-txt-detail-container .bg-txt-detail span {
      position: relative;
      display: block; }

#bg-txt-container {
  position: fixed;
  width: 100vw;
  overflow: hidden;
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  #bg-txt-container .bg-txt {
    font-size: 800px;
    padding-top: 75px;
    padding-left: 20px;
    text-align: center;
    color: #000;
    text-shadow: -5px -3px 5px rgba(0, 0, 0, 0.2);
    font-family: 'Pinyon Script', cursive;
    font-family: 'Mrs Sheppards', cursive;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Josefin Slab', serif;
    font-family: 'Italiana', serif;
    font-family: 'Lobster', cursive;
    font-family: 'Chonburi', cursive;
    font-family: 'Stardos Stencil', cursive; }
    #bg-txt-container .bg-txt span {
      position: relative; }

section {
  position: fixed;
  width: 800vh;
  height: 500px;
  top: 50%;
  margin-top: -250px;
  left: 0;
  padding-left: 78.7%; }
  section article {
    position: relative;
    width: 9.1%;
    height: 400px;
    top: 50%;
    margin: 0.2%;
    margin-top: -200px;
    float: left;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: width 0.4s ease-in;
    -moz-transition: width 0.4s ease-in;
    -ms-transition: width 0.4s ease-in;
    -o-transition: width 0.4s ease-in;
    transition: width 0.4s ease-in; }
    @media only screen and (min-width: 621px) and (max-width: 1023px) {
      section article {
        width: 9.7%; } }
    @media only screen and (min-width: 320px) and (max-width: 620px) {
      section article {
        width: 10.3%; } }
    section article:hover img {
      opacity: 0.7;
      left: 20%; }
    section article:hover h2 {
      letter-spacing: 10px;
      opacity: 1; }
    section article:hover span:nth-child(2) {
      top: -30px; }
    section article img {
      position: absolute;
      top: 0;
      left: 100%;
      width: 125%;
      height: auto;
      opacity: 0.7;
      -webkit-transition: all 0.7s cubic-bezier(0.39, 0.575, 0.565, 1);
      -moz-transition: all 0.7s cubic-bezier(0.39, 0.575, 0.565, 1);
      -ms-transition: all 0.7s cubic-bezier(0.39, 0.575, 0.565, 1);
      -o-transition: all 0.7s cubic-bezier(0.39, 0.575, 0.565, 1);
      transition: all 0.7s cubic-bezier(0.39, 0.575, 0.565, 1); }
    section article h2 {
      top: -80%;
      position: absolute;
      text-transform: uppercase;
      font-size: 40px;
      font-family: 'Stardos Stencil', cursive;
      font-weight: bold;
      letter-spacing: 40px;
      width: 20%;
      padding-top: 10px;
      padding-left: 22.5px;
      color: #000;
      -webkit-transition: all 0.7s cubic-bezier(0.39, 0.575, 0.565, 1);
      -moz-transition: all 0.7s cubic-bezier(0.39, 0.575, 0.565, 1);
      -ms-transition: all 0.7s cubic-bezier(0.39, 0.575, 0.565, 1);
      -o-transition: all 0.7s cubic-bezier(0.39, 0.575, 0.565, 1);
      transition: all 0.7s cubic-bezier(0.39, 0.575, 0.565, 1); }
    section article .port-title span {
      position: relative;
      top: 0;
      left: 0;
      font-size: 20px;
      letter-spacing: 4px;
      color: rgba(0, 0, 0, 0.3);
      -webkit-transition: all 0.7s cubic-bezier(0.39, 0.575, 0.565, 1);
      -moz-transition: all 0.7s cubic-bezier(0.39, 0.575, 0.565, 1);
      -ms-transition: all 0.7s cubic-bezier(0.39, 0.575, 0.565, 1);
      -o-transition: all 0.7s cubic-bezier(0.39, 0.575, 0.565, 1);
      transition: all 0.7s cubic-bezier(0.39, 0.575, 0.565, 1); }

.morph-modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 400vh;
  width: 100%;
  display: none; }

.morph-modal.open-modal {
  display: block; }

.modal-content,
.close-modal {
  opacity: 0;
  transition: opacity 0.4s ease-in;
  z-index: 2; }

.modal-visible .modal-content,
.modal-visible .close-modal {
  opacity: 1; }

.modal-content {
  position: relative;
  overflow: auto;
  padding: 40px 10%;
  box-sizing: border-box;
  background-color: #000;
  width: 100%;
  height: 100%;
  color: #fff; }

.close-modal {
  /*position: absolute;*/
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  /* replace text with image */
  height: 56px;
  width: 56px;
  border: none;
  text-indent: 100%;
  overflow: hidden;
  color: transparent;
  white-space: nowrap;
  transition: transform 0.4s ease-in; }
  .close-modal:hover {
    transform: rotate(180deg); }

.close-modal::before, .close-modal::after {
  /* this is the 'X' arrow */
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2px;
  width: 24px;
  background: #FFF; }

.close-modal::before {
  transform: translate(-50%) rotate(45deg); }

.close-modal::after {
  transform: translate(-50%) rotate(-45deg); }

.close-modal:hover {
  background: rgba(0, 0, 0, 0.6); }

/*# sourceMappingURL=app.css.map */
